<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>to.cyberia.launch-hour</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/master/cyber/cyber/scripts/launch-hour.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>/Users/master/cyber</string>
    <key>StandardOutPath</key>
    <string>/tmp/launch-hour.launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/launch-hour.launchd.log</string>
</dict>
</plist>
