---
tags: cyber
crystal-type: process
crystal-domain: cyber
stake: 11169677841600862
diffusion: 0.000155913454032628
springs: 0.0006962445029425682
heat: 0.0005563040886426162
focus: 0.00039809089562760255
gravity: 6
density: 8.71
---
process of computing that statement is true

example: verification of signature

- given [[neuron]], [[signal]] and [[signature]]
- validators of [[vimputer]] can verify
- that [[signal]] is indeed authenticated by signing [[neuron]]