---
tags: cyber
crystal-type: process
crystal-domain: cyber
stake: 11169677841600862
diffusion: 0.00016359306384805544
springs: 0.000757716014714089
heat: 0.0005972570334026247
focus: 0.0004285627430187919
gravity: 6
density: 8.75
---
process of computing that statement is true

example: verification of signature

- given [[neuron]], [[signal]] and [[signature]]
- validators of [[vimputer]] can verify
- that [[signal]] is indeed authenticated by signing [[neuron]]