---
tags: cyber
crystal-type: process
crystal-domain: cyber
stake: 11169677841600862
diffusion: 0.00017320499629657724
springs: 0.0008030042940157554
heat: 0.0006220146810968816
focus: 0.0004519067225723938
gravity: 6
density: 11.28
---
process of computing that statement is true

example: verification of signature

- given [[neuron]], [[signal]] and [[signature]]
- validators of [[vimputer]] can verify
- that [[signal]] is indeed authenticated by signing [[neuron]]