---
tags: cyber
crystal-type: process
crystal-domain: cyber
stake: 11169677841600862
focus: 0.00017320499629657724
gravity: 6
---
process of computing that statement is true

example: verification of signature

- given [[neuron]], [[signal]] and [[signature]]
- validators of [[vimputer]] can verify
- that [[signal]] is indeed authenticated by signing [[neuron]]